@import url(//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft);

// -----------------------------------------------------------------------
// Colors

$primary : #33058D ;
$primary-hover : #280471 ;
$with-primary : #ffffff ;

$secondary : #E02488 ;
$secondary-hover : #c41f77 ;
$with-secondary : #ffffff ;

$white : #FFFFFF ;
$light-gray : #f0f0f0 ;
$light-gray2 :rgb(224, 224, 224) ;
$gray : #6A6A6A ;
$black : #000000 ;

$blue : #2C6DDC;

// -----------------------------------------------------------------------
// Sizes

$xx-sm : 2px ;
$x-sm : 5px ;
$sm : 10px ;
$md : 15px ;
$l : 20px ;
$x-l : 25px ;
$xx-l : 30px ;

// -----------------------------------------------------------------------
// Fonts

$font-main : dico-code-one, mono;

html * {

    font-family: 'Minecraft', sans-serif;
}

html {
    width: 100vw;
    background-color: $light-gray;
    overflow: hidden;
    
}

// -----------------------------------------------------------------------
// Font Sizes

.txt {
    &-xx-sm {
        font-size: $xx-sm;
    }
    &-x-sm {
        font-size: $x-sm;
    }
    &-sm {
        font-size: $sm;
    }
    &-md {
        font-size: $md;
    }
    &-l {
        font-size: $l;
    }
    &-x-l {
        font-size: $x-l;
    }
    &-xx-l {
        font-size: $xx-l;
    }
    &-bold {
        font-weight: bold;
    }
}

// -----------------------------------------------------------------------
// Reset marks style

.reset{
    &-a-style {
        &-bg-color {
            color: $gray;
            text-decoration: none;
        }
        &-bg-w {
            color: $white;
            text-decoration: none;
        }
    }
}

.bg {
    &-light-gray2 {
        background-color: $light-gray2;
    }
    &-light-gray {
        background-color: $light-gray;
    }
    &-white {
        background-color: $white;
    }
}

.border {
    border: $gray 1px solid;
    &-top {
        border-top: $gray 1px solid;
    }
    
}

// -----------------------------------------------------------------------
// Navbar

.navbar {
    background-color: $primary;
    height: 50px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    &__logo {
        
        height: 50px;
        width: 50px;
        position: relative;
        bottom: 5px;
    }

    &__links {
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
        width: 200px;
    }
}

.box-shadow {
    box-shadow: rgba($color: #000000, $alpha: 0.2) 0 3px 6px;
}

.navbar2 > div {
    display: flex;
    
    
    justify-content: end;
    & p {
        margin: 8px;
    }

}



#arena

{
    
    display: flex;
    flex-direction: column;

    & .fight_window 
    
    {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        background-image: url(../img/bg-arena.png);
        background-size: cover;

        &__player_space1

        {
            
            height: 50%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            &__infos 
            
            {

                padding: 30px;
                width: 750px;
                height: 200px;
                display: flex;
                flex-direction: row;
                &__ground 
            
                {
                    width: 500px;
                    height: 170px;
                    background-image: url(../img/ground.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: relative;
                    top: 150px
                }

                &__stats 
            
                {
                    width: 300px;
                    height: 120px;
                    background-image: url(../img/stats.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: relative;
                    
                    @media screen and (min-width: 801px) {
                        top: 100px;
                        left: 50px;
                    }
                    
                }

                
                
            }
        }

        &__player_space2

        {

            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            justify-content: space-around;

            &__infos 
            
            {

                width: 750px;
                height: 200px;

                padding: 30px;

                display: flex;
                flex-direction: row;
                justify-content: end;
                background-repeat: no-repeat;
                &__ground 
            
                {
                    width: 400px;
                    height: 96px;
                    background-image: url(../img/ground.png);
                    background-size: contain;
                    
                    background-repeat: no-repeat;
                    position: relative;
                    top: 100px
                    
                    
                }

                &__stats 
            
                {
                    position: relative;
                    width: 300px;
                    height: 120px;
                    background: none;
                    
                    @media screen and (min-width: 801px) {
                        right: 50px;
                        top: 30px
                    }
           


             


                
                }
            }
        }

    }

    & .attacks_window 
    
    {
        display: flex;
        width: 100vw;
        height: 20vh;
        z-index: 100;


        &__content_base 
        {
            height: 100%;
            background-color: $gray;
            width: 100%;
            background-image: url(../img/bg_txt.png);
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

    }
}

.name-pokemon {
    margin: 20px;
    color: #4B4135;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden; 

    white-space: nowrap;
}


.full-s {
    height: 100%;
}


.pokemon-div {
    height: 200px;
    position: relative;
    bottom: 80px;
    left: 90px;
}


@keyframes animation-pokemon-1-attack

{
    0%   
    {
        bottom: 80px;
        transform: rotate(0deg);
        left: 90px;
    }
    25%  
    {
        bottom: 100px;
        transform: rotate(10deg);
        left: 190px;
    }
    75%  
    {
        bottom: 80px;
        transform: rotate(0deg)
    }
    100%  {bottom: 80px;left: 90px;}

}

@keyframes animation-pokemon-2-attack

{
    0%   
    {
        bottom: 80px;
        transform: rotate(0deg);
        left: 90px;
    }
    55%  
    {
        bottom: 80px;
        transform: rotate(0deg);
        left: 90px;
    }
    65%  
    {
        bottom: 20px;
        transform: rotate(-10deg);
        left: -10px;
    }
    95%  
    {
        bottom: 80px;
        transform: rotate(0deg)
    }
    100%  {bottom: 80px;left: 90px;}

}




.pokemon {
    &1-attack {
        animation-name: animation-pokemon-1-attack;
        animation-duration: 1s;


    }
    &2-attack {
        animation-name: animation-pokemon-2-attack;
        animation-duration: 2s;

    }
}


.btn {
    background: none;
    width: 200px;
    padding: 20px;
    background-image: url(../img/btn.png);
    background-size: 100% 100%;
    border: none;
    color: #4B4135;
    
      

    &:hover {
        opacity: 0.8;
    }
    
}

@media screen and (max-width: 800px) {
    .btn {
        width: 140px;
        font-size: smaller;
        
    }

    .fight_window__player_space1__infos__stats
    {
        position: relative;
        right: 150px;

    }
    .fight_window__player_space2__infos__stats
    {
        position: relative;
        left: 150px;
        top: 220px;

    }
}
  
.d-none {
    display: none;
}


.stats-hp {
    @for $i from 0 through 20 {
        &-#{$i * 5} {
            //background-image: url('../img/stats-'+($i* 5)+'.png');
            height: 100%;
            width: 100%;
            background-image: url("../img/stats-"+($i * 5)+".png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

}

.name-pokemon {
    position: relative;
    top: 15px;
}
