@import url(//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft);
html * {
  font-family: "Minecraft", sans-serif;
}

html {
  width: 100vw;
  background-color: #f0f0f0;
  overflow: hidden;
}

  
#accueil {
    display: flex;
    flex-direction: column;
}
  #accueil .acueil_all {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-arena.png);
    background-size: cover;
}

.acueil_all .block img{
    text-align:center;
    margin:auto;
    display:flex;
    height: 30%;
}

.paragraphe {
    width: 50%;
    background-color: white;
    display:flex;
    margin: auto;

}

.paragraphe p {
    margin: auto;
}


.buttons {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    border-collapse: collapse;
    background-color: white;
    margin: auto;
  }
  
  th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  .liste {
    width: 40vw;
    height: 50vh;
    background-color: white;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

h4 {
  background-color: white;
    width: 10vw;
    height: 5vh;
    margin: auto;
}



